* {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  width: 100%;
  height: 100%;
}

#left {
  position: relative;
  width: 40%;
  height: 100%;
}

#lnav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
}

#lnavr a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}

#lnavr {
  display: flex;
  align-items: center;
}

#left #textcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#textcenter h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  font-size: 90px;
}

#textcenter p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  opacity: 0.6;
}

#textcenter a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: black;
  border-bottom: 1.5px solid black;
  padding-bottom: 5px;
  opacity: 0.8;
}

#right {
  width: 60%;
  height: 100%;
}

#rtop {
  display: flex;
  width: 100%;
  height: 50%;
}

#rbottom {
  display: flex;
  align-items: end;
  width: 100%;
  height: 50%;
  background-image: url(https://images.unsplash.com/photo-1552010099-5dc86fcfaa38?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

#rtopleft {
  width: 50%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1459411552884-841db9b3cc2a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

#rtopright {
  width: 50%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1619241638225-14d56e47ae64?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

@media (max-width: 500px) {
  #main {
    flex-direction: column;
  }

  #main #left {
    width: 100%;
  }

  #main #right {
    width: 100%;
  }
}
