@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
	background-color: black;
}

/* ----------------------------------------------------------HOME SECTION CSS----------------------------------------- */

#container {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: start;
	justify-content: space-evenly;
	z-index: 0;
}

#leftglass {
	width: 60%;
	height: 75vh;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(1px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	z-index: 0;
}

#rightglass {
	width: 30%;
	height: 75vh;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(1px);
	border-radius: 10px;
	border: 1px solid rgba(255, 247, 247, 0.15);
	z-index: 0;
}

#centerglass {
	position: absolute;
	margin-left: 30%;
	width: 25%;
	height: 60vh;
	background-image: url(./Images/Profile.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	z-index: 1;
}

#nav {
	position: absolute;
	width: 100%;
	padding: 20px 5%;
	z-index: 1;
	font-family: "Poppins", sans-serif;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

}

.logo {
	width: 180px;
	font-weight: 300;
	color: white;
	cursor: pointer;
}

nav ul {
	margin-left: 10%;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

nav ul a {
	margin-left: 10px;
	text-decoration: none;
	color: white;
	font-weight: 300;
	cursor: pointer;
	position: relative;
}

nav ul a::after {
	content: "";
	width: 0%;
	height: 2px;
	background: #766B65;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}

nav ul a:hover::after {
	width: 100%;
}

#hero-over {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%, -50%);
	z-index: 1;

}

#hero-blur {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%, -50%);
	z-index: 0;
	/* visibility: hidden; */
}


.greetO {
	font-size: 20px;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	color: white;
	visibility: hidden;
}

.greetB {
	font-size: 20px;
	letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	color: white;
}

.productO {
	font-size: 70px;
	letter-spacing: 4px;
	color: white;
	font-family: "Inter", sans-serif;
	z-index: 1;
	visibility: 0;
	z-index: 1;
}

.productB {
	font-size: 70px;
	letter-spacing: 4px;
	color: white;
	font-family: "Inter", sans-serif;
	z-index: 1;
	z-index: 0;
	visibility: hidden;

}

.designerO {
	font-size: 70px;
	letter-spacing: 4px;
	color: #1E2824;
	font-family: "Inter", sans-serif;
	z-index: 1;
	visibility: 0;
	visibility: hidden;
}

.designerB {
	font-size: 70px;
	letter-spacing: 4px;
	color: #1E2824;
	font-family: "Inter", sans-serif;
	z-index: 1;
	visibility: 0;
}

.CVO {
	width: 70px;
	font-size: 15px;
	letter-spacing: 1px;
	font-family: "Inter", sans-serif;
	font-weight: 300;
	color: white;
	cursor: pointer;
	z-index: 1;
}

.CVB {
	width: 70px;
	font-size: 15px;
	letter-spacing: 1px;
	font-family: "Inter", sans-serif;
	font-weight: 300;
	color: white;
	cursor: pointer;
	visibility: hidden;
}

.CVO::after {
	content: "";
	width: 0;
	height: 2px;
	background: #766B65;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
	z-index: 1;
}

.CVO:hover::after {
	width: 20%;
	z-index: 1;
}

.palette {
	position: absolute;
	top: 50%;
	left: 95.35%;
	transform: translate(-50%, -50%);
	z-index: 0;
}

/* ----------------------------------------------------------ABOUT SECTION CSS----------------------------------------- */


#about {
	padding: 80px 10%;
}

.row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.about-col-1 {
	flex-basis: 35%;
}

.about-col-1 img {
	border-radius: 15px;
}

.about-col-2 {
	flex-basis: 55%;
}

.sub-title {
	font-family: "Inter", sans-serif;
	font-size: 60px;
	color: white;
	cursor: pointer;
	width: 400px;
}

.about-para {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: white;
}

.tab-titles {
	display: flex;
	margin: 20px 0 40px;
}

.tab-links {
	position: relative;
	margin-right: 50px;
	font-size: 18px;
	cursor: pointer;
	font-family: "Poppins", sans-serif;
	color: white;
	font-weight: 400;
}

.tab-links::after {
	content: '';
	width: 0;
	height: 3px;
	background: #1E2824;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}

.tab-links.active-link::after {
	width: 50%;
}

.tab-content ul li {
	font-family: "Inter", sans-serif;
	color: white;
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
}

.tab-content ul li span {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	color: #766B65;
	font-size: 14px;
}

.tab-content {
	display: none;
}

.tab-content.active-tab {
	display: block;
}

/* ---------------------------------------------------------SERVICES SECTION CSS----------------------------------------- */

#services {
	padding: 80px 10%;

}

.services-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 40px;
	margin-top: 50px;
}

.services-list div {
	padding: 40px;
	font-size: 13px;
	font-weight: 300;
	border-radius: 10px;
	color: white;
	transition: background 0.5s, transform 0.5s;
	cursor: pointer;
}

.services-list div i {
	font-size: 45px;
	margin-bottom: 50px;
	text-decoration: none;
	color: white;

}

.services-list div h2 {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 15px;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	color: white;

}

.services-list div p {
	font-size: 12px;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	line-height: 15px;
}


.services-list div a {
	text-decoration: none;
	font-size: 12px;
	margin-top: 20px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	display: inline-block;
	color: white;

}

.services-list div:hover {
	transform: translateY(-10px);
}

.web {
	background-color: #766B65;
}

.ui {
	background-color: #5D3C18;
}

.app {
	background-color: #1E2824;
}


/* ----------------------------------------------------------WORKS SECTION CSS----------------------------------------- */

#works {
	padding: 80px 10%;
}

.work-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	margin-top: 50px;
}

.work {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}

.work img {
	width: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
	/* Added transition for smooth scaling */
}

.layer {
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.6), black);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-family: "Inter", sans-serif;
	color: white;
	transition: height 0.5s;
	cursor: pointer;
}

.layer h3 {
	font-weight: 500;
	margin-bottom: 20px;
	font-size: 20px;
}

.layer a {
	margin-top: 20px;
	color: #1E2824;
	text-decoration: none;
	line-height: 60px;
	background: white;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.layer i {
	font-size: 22px;
	font-family: "Inter", sans-serif;
	font-weight: 800;
}

.layer p {
	font-size: 14px;
}

.work img:hover {
	transform: scale(1.1);
}

.work:hover .layer {
	height: 100%;
}

.btn {
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 3px solid #766B65;
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	background-color: transparent;
	color: white;
	font-family: "Inter", sans-serif;
	font-size: 12px;
	font-weight: 500;
	transition: background 0.5s;
	cursor: pointer;
}

.btn:hover {
	background-color: #766B65;
}

/* ----------------------------------------------------------CONTACT SECTION CSS----------------------------------------- */

#contact {
	padding: 40px 10%;

}

.contact-left {
	flex-basis: 35%;

}

.contact-right {
	flex-basis: 60%;

}

.contact-left p {
	margin-top: 30px;
	font-family: "Inter", sans-serif;
	color: white;
	cursor: pointer;
}

.contact-left i {
	margin-right: 15px;
	font-size: 25px;
	cursor: pointer;

}


.mail {
	color: #766B65;

}

.phone {
	color: #5D3C18;
}

.map {
	color: #1E2824;
}


.icons {
	display: flex;
	margin-top: 30px;
	align-items: center;
}

.icons a {
	text-decoration: none;
	margin-right: 10px;
	cursor: pointer;
}

.btn.btn2 {
	display: inline-block;
	cursor: pointer;
}


.contact-right form {
	width: 100%;
	height: 10%;
}

form input,
form textarea {
	width: 100%;
	border: 0;
	outline: none;
	background: #505050;
	padding: 20px;
	margin: 15px 0;
	color: white;
	font-size: 18px;
	border-radius: 10px;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
}


.footer {
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-family: "Poppins", sans-serif;
	font-size: 12px;
}

.footer-link {
	color: #766B65;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	font-size: 13px;
	font-weight: 600;
}

#msg {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	color: green;
	left: auto;
	margin-top: -30px;
	letter-spacing: 5px;
	display: block;
}

/* ----------------------------------------------------------RESPONSIVE CSS----------------------------------------------- */

nav .bi {
	color: white;
	z-index: 1;
	display: none;
}

@media only screen and (max-width: 480px) {

	#container,
	#about,
	#services,
	#works,
	#contact {
		width: 100%;
	}

	#about {
		padding-bottom: 80px;
		padding-top: 0px;
	}

	#container {
		flex-direction: column;
	}

	#nav {
		position: absolute;
		display: flex;
		align-items: flex-end;
		align-items: end;
		width: 100%;
		top: 0%;
		left: 0%;
	}

	#nav h2 {
		margin-right: 145px;
	}

	nav .bi {
		color: white;
		display: block;
		font-weight: 600;
		font-size: 25px;
	}


	nav ul {
		background: #1E2824;
		position: fixed;
		top: 0;
		right: -200px;
		width: 190px;
		height: 100vh;
		padding-top: 50px;
		z-index: 2;
		transition: right 0.5s;
	}

	nav ul li {
		display: block;
		margin: 25px;
	}

	nav ul .bi {
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}

	#leftglass {
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		height: 10%;
		margin-bottom: 20px;
		z-index: 0;
	}

	#rightglass {
		position: absolute;
		top: 62%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		height: 10%;
		margin-top: 20px;
		z-index: 1;

	}

	#centerglass {
		width: 25%;
		height: 60%;
	}

	#hero-over {
		width: 100%;
		top: 50%;
		left: 0%;
		padding-left: 60%;
		text-align: center;
	}

	.greetO {
		margin-bottom: 10px;
		text-align: left;
		visibility: visible;
		font-size: 12px;
	}

	.productO,
	.designerO {
		font-size: 35px;
	}

	.designerO {
		color: #766B65;
	}

	.CVO {
		margin-top: 5px;
		font-size: 12px;
	}

	.productO,
	.designerO,
	.CVO {
		text-align: left;
		z-index: 0;
		visibility: visible;
	}

	.greetB,
	.productB,
	.designerB,
	.CVB {
		visibility: hidden;
	}

	.palette {
		position: absolute;
		top: 64.5%;
		left: 88.5%;
		height: 50px;
		width: 15px;
		/* visibility: visible; */
	}

	.about-col-1 {
		margin-bottom: 20px;
	}

	.about-col-1 img {
		width: 320px;
		height: 350px;
	}

	.about-col-2 {
		width: 100%;
	}

	.about-para {
		font-weight: 200;
		margin-top: 10px;
		text-align: center;
	}

	.sub-title {
		width: 100%;
		font-size: 50px;
		text-align: center;
	}

	.contact-left,
	.contact-right {
		flex-basis: 100%;
	}

	.footer {
		font-size: 10px;
	}

	.footer-link {
		font-size: 11px;
	}

}